<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar Producto</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'product/style.css' %}">
</head>
<body>
    <div class="container">
        <div class="banner">
            <img src="{% static 'product/banner.png' %}" alt="Logo de tu empresa">
        </div>

        <h1>Agregar Nuevo Producto</h1>
        <form method="post" enctype="multipart/form-data" class="product-form">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="button-container">
                <a href="{% url 'product-list' %}" class="back-to-list-btn">Volver a la Lista de Productos</a>
                <button type="submit" class="add-product-btn">Agregar Producto</button>
            </div>
        </form>
    </div>
</body>
</html>
